#Flask==2.3.2
#requests==2.31.0
#beautifulsoup4==4.12.2
#pytelegrambotapi==4.12.0
#tqdm==4.66.1
#colorama==0.4.6
#urllib3==1.26.16
#beautifulsoup4==4.12.3
#requests==2.31.0
#Flask==2.3.2
#pyTelegramBotAPI==4.16.1
#gunicorn==22.0.0

#beautifulsoup4==4.12.3
#requests==2.31.0
#Flask==2.3.2
#pyTelegramBotAPI==4.16.1
#gunicorn==22.0.0

#beautifulsoup4==4.12.3
#requests==2.32.3
#Flask==3.0.3
#pyTelegramBotAPI==4.16.1
#gunicorn==22.0.0

#beautifulsoup4==4.12.3
#requests==2.32.3
#Flask==3.0.3
#pyTelegramBotAPI==4.16.1

#flask==2.3.3
#requests==2.31.0
#beautifulsoup4==4.12.2
#pyTelegramBotAPI==4.14.0
#urllib3==2.0.7

#beautifulsoup4==4.12.3
#requests==2.32.3
#Flask==3.0.3
#pyTelegramBotAPI==4.16.1
#gunicorn==22.0.0

#Flask==2.3.3
#requests==2.31.0
#beautifulsoup4==4.12.2
#pyTelegramBotAPI==4.14.0
#urllib3==2.0.7
#Werkzeug==2.3.7
#gunicorn==21.2.0

requests==2.32.3
beautifulsoup4==4.12.3
tqdm==4.66.5
colorama==0.4.6
Flask==3.0.3
pyTelegramBotAPI==4.23.0